= form_with(model: @task, local: true) do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, 'error')} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title, required: true
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :expired_at
    = f.datetime_select :expired_at
  .actions
    = f.submit 'Save'
